body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  // TOP NAVIGATION WITH IMAGE
  .navBarTop {
    width: 100%;
    height: 100px;
    background-color: #061b47;
    display: flex;
    justify-content: center;
    z-index: 1000;
    position: relative;
    .navText1{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      .logo {
        color: white;
        margin: 0px;
        padding: 20px;
      }
      p {
        margin: 0px;
        padding: 20px;
      }
    }
  }
  .navBarTop2 {
    // z-index: 1000;
    width: 100%;
    min-height: 10vw;
    max-height: 25vw;
    background-color: #d9d9db;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    .navText2{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      color: black;
      p {
        margin: 0px;
        padding: 20px;
      }
      p:hover {
        font-weight: bold;
      }
    }
  }
  // FIRST CONTENT DIV
  .aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .headerImageDiv {
    // z-index: 0;
    margin-top:-250px;
    height: 900px;
    max-height: 100vh;
    width: 100%;
    background-image: url('./images/mountain_road.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .headerImage {
    }
  }
  .aboutDiv {
    width: 50%;
    min-width: 450px;
    min-height: 600px;
    margin: auto;
    padding: 50px;
    text-align: center;
    .aboutTitle{
      color: #061b47;
      font-size: 2.6vmax;
      padding: 20px 0px 0px 0px;
      margin: 0px;
    }
    .underlineTitle {
      width: 35vmax;
      color: #061b47;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .aboutSubTitle{
      color: #2d2d2d;
      font-size: 2vmax;
      margin: 0px;
    }
    .aboutText{
      color: #2d2d2d;
      font-size: 20px;
      padding-top: 40px;

    }
  }
}

.roomsAndRatesContainer {
  border: solid red;
  width: 100%;
  height: 100vh;
  display: none;
}
.theAreaContainer {
  border: solid green;
  width: 100%;
  height: 100vh;
  display: none;
}
.addOnsContainer {
  border: solid yellow;
  width: 100%;
  height: 100vh;
  display: none;
}
.directionsContainer {
  border: solid purple;
  width: 100%;
  height: 100vh;
  display: none;
}
.contactContainer {
  border: solid blue;
  width: 100%;
  height: 100vh;
  display: none;
}

  .footerDiv {
    background-color: #191919;
    color: white;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
    .logoAddress{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .footerLogo {
        padding: 0px 30px 0px 30px;
      }
      .addressDiv {
        padding: 20px;
      }
    }
    .copyright {
      display: flex;
      justify-content: center;
    }
  }
}
